.vl {
  border-left: 3px solid green;
  height: auto;
  margin: 1%;
}

nav.navbar {
  border: 1px solid #000;
}

.fixed-navbar {
  padding: 0 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensure it stays above other elements */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for floating effect */
  transition: background-color 0.3s, box-shadow 0.3s;
}
div#schedulerdiv {
	margin-left: 25%;
}

@media screen and (max-width: 992px) {
	div#schedulerdiv {
		margin-left: 10%;
	}
}

body {
	/* font-family: Montserrat; */
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	/* font-weight: 600; */
  color: #000;
	font-size: 1.25 rem;
  line-height: 1.75;
}

.gradient-button {
  background: linear-gradient(45deg, #7041b1, #637fd1, #93b3e3);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}
